{{!< default}}

<div class="window">
  <div class="titlebar">
    <div class="title">texte</div>
    <div class="actions"><a href="/">×</a></div>
  </div>

  <div class="content">
    <div class="collection-list">
      {{#foreach posts}}
        {{> "collection-item"}}
      {{else}}
        <p class="meta">nu e nimic aici încă.</p>
      {{/foreach}}
    </div>

    {{#if pagination.pages}}
      <div class="pagination">{{pagination}}</div>
    {{/if}}
  </div>
</div>
