{{!< default}}

<div class="window">
  <div class="titlebar">
    <div class="title">abonare</div>
    <div class="actions"><a href="/">×</a></div>
  </div>
  <div class="content">
    <div class="post">
      <p>abonarea e momentan prin gumroad (temporar). apasă aici:</p>
      <p>
        <a class="folder" href="https://gumroad.com/subscribe" target="_blank" rel="noopener">deschide abonarea</a>
      </p>
    </div>
  </div>
</div>
